/venv
/wsb_crawler/cache
/wsb_crawler/old_cache
/wsb_crawler/out/logs.log
/wsb_crawler/out/stdout.txt
/wsb_crawler/out/logs_no_comments.log
/wsb_crawler/out/stdout_no_comments.txt
/wsb_crawler/create_table.py
/wsb_crawler/simplecache
/wsb_crawler/out/
/wsb_crawler/__pycache__/
/wsb_crawler/out.csv
/wsb_crawler/stockInfo/
hello.R
ex.md
hunter.R